<div class='nav'>
    <ul class='wrap'>
        <li><a href='/'>Home</a></li>
        <li><a href='/blog'>Blog</a></li>
        <li><a href='/feed.xml'>RSS</a></li>
        <li><a href='/notes'>Notes</a></li>
        <li><a href='/about'>About me</a></li>
        <li><button id='dark-mode-toggle' class='dark-mode-toggle' aria-label='Toggle dark mode'>🌙</button></li>
        <li><button id='margin-toggle' class='margin-toggle' aria-label='Toggle margins' style='display: none;'>📝</button></li>
    </ul>
</div>
