<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Gavin Ayres'>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='Gavin Ayres'>

    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/notes.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}" />
    {% include mathjax.html %}
    <script src='/assets/dark-mode.js' defer></script>
    {% if page.margin_left or page.margin_right %}
    <script src='/assets/margin-text.js' defer></script>
    <script src='/assets/margin-toggle.js' defer></script>
    {% endif %}
</head>
<body>
<div class='content'>
    {% include nav.html %}
    <div class='front-matter'>
        <div class='wrap'>
            <h1>{{ page.title }}</h1>
            <h4>{{ page.subtitle }}</h4>
            {% if page.byline_label or page.date %}
            <div class='bylines'>
                <div class='byline'>
                    {% if page.byline_label %}
                        <h3>{{ page.byline_label }}</h3>
                    {% else %}
                        <h3>Published</h3>
                    {% endif %}
                    {% if page.byline_content %}
                        <p>{{ page.byline_content }}</p>
                    {% else %}
                        <p>{{ page.date |  date: '%d %B %Y' }}</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <div class='clear'></div>
        </div>
    </div>
    {% if page.margin_left or page.margin_right %}
    <div class='margin-text margin-left'>{{ page.margin_left | markdownify }}</div>
    <div class='margin-text margin-right'>{{ page.margin_right | markdownify }}</div>
    {% endif %}
    <div class='wrap article'>
        {{ content }}
    </div>
</div>
</body>
</html>
